.upload-image {
  text-align: center;
  width: 138px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.upload-image .btn {
  margin: 0 4px;
  font-size: 11px;
}
.upload-image .upload-image-reset {
  display: none;
}
.upload-image-empty .upload-image-clear {
  display: none;
}
.upload-image-preview {
  width: 128px;
  height: 128px;
  margin: 5px auto 10px auto;
  background: no-repeat center;
}
.upload-image-crop .upload-image-preview {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.upload-image-frame .upload-image-preview {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.upload-image-change {
  position: relative;
  overflow: hidden;
}
.upload-image-change input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 5rem;
  cursor: pointer;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
